{% extends 'base.html' %}

{% block titulo %}
    Detalles 
{% endblock titulo %}

{% block content %}


<div class="row">
		<div class="col s12 m6">
			<div class="card blue-grey lighten-3">
				<div class="card-content black-text">
					<span class="card-title">{{ opinion.id_opinion }}</span>
					<p>{{ opinion.comentario }}</p>
				</div>
				<div class="card-action">
					<a  class="btn-default" href="{% url 'editar' pk=opinion.pk %}" >Editar</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
