{% extends 'base_bootstrap.html' %}
{% load staticfiles %}
{% block titulo %}
Nueva opinión
{% endblock titulo %}


{% block content %}
<br>
<br>

<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<form method="POST">
					{% csrf_token %}	
					{{ form.as_p }}
					<button type="submit" class="btn btn-success"> Opinar</button>
					<button type="text" class="btn btn-warning">Regresar</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}